<main class="form-signin text-center">
    <h3 class="h3">New post to add</h3>
    <form class="card-body" id="add-formB">
        <div class="form-floating mb-3">
            <label for="titleAdd" class="form-label" ></label>
            {{!-- Different names ,values,and javascript names--}}
            <input type="text" id="titleAdd" name="titleAdd" class="form-input w-100" autofocus="true" placeholder="Title"/>
        </div>

        <div class="form-floating mb-3">
            {{!-- Content--}}
            <label class="form-label" for="fufilled" ></label>
            <textarea id="fufilled" name="fufilled" class="form-input w-100" aria-label="With textarea"
                autofocus="true" placeholder="Write whats on your mind!"></textarea>
        </div>


        <button type="submit" class="w-100 btn btn-lg btn-info mb-3">Desing</button>
    </form>
    </form>
</main>

<script src="/public/js/addingPost.js"></script>