{{#if post.length}}
<section>
  <h2>History of The Blogs Post</h2>
    {{#each post as |post|}}
      {{> dash-info post}}
    {{/each}}

</section>
{{/if}}

<button type="submit" class="btn"><a class="link" href="/dashboard/new">Drop a new post like its hot !!!</a></button